<mat-tab-group>
    <!-- TODO: Switch the order, utilities should be first. It's set up this way for easier development of the transportation component -->
    <mat-tab label="Transportation">
        <div class="calculator-tab">
            <app-transportation class="calculator-tab"></app-transportation>
        </div>
    </mat-tab>
    <mat-tab label="Utilities">
        <div class="calculator-tab">
            <app-utilities></app-utilities>
        </div>
    </mat-tab>
</mat-tab-group>
<button mat-raised-button color="primary" (click)="calculate()" class="calculate-button">Calculate Carbon Footprint</button>
