<mat-file-upload
    [labelText]="'Please upload your Fortis BC bill'"
    [acceptedTypes]="'.csv'"
    [uploadButtonText]="'Upload'"
    [selectButtonText]="'Select File'"
    [allowMultipleFiles]="false"
    (uploadClicked)="onUploadClickedFortis($event)"
></mat-file-upload>

<mat-file-upload
    [labelText]="'Please upload your BC Hydro bill'"
    [acceptedTypes]="'.csv'"
    [uploadButtonText]="'Upload'"
    [selectButtonText]="'Select File'"
    [allowMultipleFiles]="false"
    (uploadClicked)="onUploadClickedHydro($event)"
></mat-file-upload>
