:host {
    display: flex;
    flex-direction: column;
}

.fortis-bill-instructions{
    font-size: medium;
    font-weight: normal;
    margin: 1em 0 0 0;
}

.table-outter-container {
    margin-top: 2em;
    overflow-x: auto;
    overflow-y: hidden;

    .table-inner-container {
        min-width: 605px;

        .table {
            width: 100%;
        }
    }
}
