<div class="banner-image">
    <picture>
        <img src="../../../assets/images/cover_photo .jpg" id="cover-image" 
        alt="A banner image of a landscape with mountains and trees">
    </picture>
</div>
<div class="outter-about-container">
    <div class="inner-calculator-container">
        <mat-card class="container-card">
            <mat-card-title class="title-card">OurFootprint</mat-card-title>
            <mat-card-content>
                <div class="about-text">
                    <h2 class="mat-h2">OurFootprint calculates your carbon footprint based on your car and energy usage </h2> 
                    <h2 class="mat-h2">and compares your footprint to Canadian households simillar to yours. </h2>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

