<div class="banner-image">
    <picture>
        <img src="../../../assets/images/cover_photo .jpg" id="cover-image" 
        alt="A banner image of a landscape with mountains and trees">
    </picture>
</div>
<div class="outter-about-container">
    <div class="inner-about-container">
        <mat-card class="container-card">
            <mat-card-title class="title-card">OurFootprint</mat-card-title>
            <mat-card-content>
                <div class="about-text">
                    <p>OurFootprint calculates your carbon footprint based on your car and energy usage and compares your footprint to Canadian households simillar to yours.</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

