<mat-file-upload
    [labelText]="'Please upload your BC Hydro bill'"
    [acceptedTypes]="'.csv'"
    [uploadButtonText]="'Upload'"
    [selectButtonText]="'Select File'"
    [allowMultipleFiles]="false"
    (uploadClicked)="onUploadClickedHydro($event)">
</mat-file-upload>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 commute-table" *ngIf="dataSource.data.length > 0">
    <!--- Note that these columns are not rendered until they are set as a property on the row definition. -->
    
      <!-- Consumption Column -->
      <ng-container matColumnDef="testColumn1">
        <th mat-header-cell *matHeaderCellDef> Column 1 </th>
        <td mat-cell *matCellDef="let element"> <!-- {{element.tableFormat.consumption}} --> </td>
      </ng-container>

      <!-- Average Temperature Month Column -->
      <ng-container matColumnDef="testColumn2">
        <th mat-header-cell *matHeaderCellDef> Average Temperature </th>
        <td mat-cell *matCellDef="let element"> <!-- {{element.tableFormat.avgtemp}} --> </td>
      </ng-container>
  
       <!-- Delete Column -->
       <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element; let i=index">
          <button mat-icon-button aria-label="Delete hydro row button" (click)="deleteHydroRow(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- The actual rendered content -->
    
      <!-- Header row for column names -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
      <!-- Data rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
