<div class="banner-image">
    <picture>
        <img src="../../../assets/images/cover_photo .jpg" id="cover-image" 
        alt="A banner image of a landscape with mountains and trees">
    </picture>
</div>
<div class="outer-calculator-container">
    <div class="inner-calculator-container">
        <mat-card class="container-card">
            <mat-card-title class="title-card">Carbon Calculator</mat-card-title>
            <mat-card-content>
                <app-calculator></app-calculator>
            </mat-card-content>
        </mat-card>
    </div>
</div>

