<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <!-- TODO: Use ng for as in comments -->
            <!-- <a mat-list-item *ngFor="route of buttonRoutes" [routerLink]="[ '{{route.path}}' ]">{{route.name}}</a> -->
            <!-- buttonRoutes = [{path: '/', name: 'Home'}, {path: '/', name: 'Home'}, {path: '/', name: 'Home'}] -->
            <a mat-list-item [routerLink]="[ '/' ]" *ngIf="!isLoggedIn">Sign in</a>
            <a mat-list-item [routerLink]="[ '/signup' ]" *ngIf="!isLoggedIn">Sign up</a>
            <a mat-list-item (click)="logout()" *ngIf="isLoggedIn">Sign out</a>
            <a mat-list-item [routerLink]="[ '/' ]">Home</a>
            <a mat-list-item [routerLink]="[ '/about-us' ]">About Us</a>
            <a mat-list-item [routerLink]="[ '/dash' ]" *ngIf="isLoggedIn">Dashboard</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="no-v-scroll">
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span [routerLink]="[ '/' ]">OurFootprint</span>
                    <span class="menu-spacer"></span>
                    <div fxShow="true" fxHide.lt-md>
                        <!-- TODO: Use ng for as in comments -->
                        <!-- <a mat-button *ngFor="route of buttonRoutes" [routerLink]="[ '{{route.path}}' ]">{{route.name}}</a> -->
                        <!-- buttonRoutes = [{path: '/', name: 'Home'}, {path: '/', name: 'Home'}, {path: '/', name: 'Home'}] -->
                        <a mat-button [routerLink]="[ '/' ]" *ngIf="isLoggedIn">Home</a>
                        <a mat-button [routerLink]="[ '/about-us' ]">About Us</a>
                        <a mat-button [routerLink]="[ '/signup' ]" *ngIf="!isLoggedIn">Sign up</a>
                        <a mat-button [routerLink]="[ '/dash' ]" *ngIf="isLoggedIn">Dashboard</a>
                        <a mat-stroked-button class="signin" (click)="logout()" *ngIf="isLoggedIn">Sign out</a>
                        <a mat-stroked-button class="signin" [routerLink]="[ '/' ]" *ngIf="!isLoggedIn">Sign in</a>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <div style="overflow-y: auto;">
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
