
    <mat-card>
      <mat-card-title>Total Carbon Emmissions</mat-card-title>
      <mat-card-content>{{data}}</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Transportation Emmissions</mat-card-title>
      <mat-card-content>{{data}}</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Fortis BC Emmissions</mat-card-title>
      <mat-card-content>{{data}}</mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>BC Hydro Emmissions</mat-card-title>
      <mat-card-content>{{data}}</mat-card-content>
    </mat-card>


<div class="chart-wrapper1">
    <canvas baseChart 
    [datasets]="totalChartData"
    [labels]="totalChartLabels"
    [options]="totalChartOptions"
    [plugins]="totalChartPlugins"
    [legend]="totalChartLegend"
    [chartType]="totalChartType">
  </canvas>

</div>
<div class="chart-wrapper2">
  <canvas baseChart 
  [datasets]="fortisChartData"
  [labels]="fortisChartLabels"s
  [options]="fortisChartOptions"
  [plugins]="fortisChartPlugins"
  [legend]="fortisChartLegend"
  [chartType]="fortisChartType">
</canvas>
</div>
<div class="chart-wrapper3">
  <canvas baseChart 
  [datasets]="hydroChartData"
  [labels]="hydroChartLabels"
  [options]="hydroChartOptions"
  [plugins]="hydroChartPlugins"
  [legend]="hydroChartLegend"
  [chartType]="hydroChartType">
</canvas>
</div>
<div class="chart-wrapper4">
  <canvas baseChart 
  [datasets]="vehicleChartData"
  [labels]="vehicleChartLabels"
  [options]="vehicleChartOptions"
  [plugins]="vehicleChartPlugins"
  [legend]="vehicleChartLegend"
  [chartType]="vehicleChartType">
</canvas>
</div>

<div class="offset-carbon-container">
  <mat-card class="container-card">
    <mat-card-content>
      <div class="offset-text">
        <h2 class="mat-h2">For you to offset your carbon:</h2>
        <h2 class="mat-h2">X trees would need to be planted</h2>
        <h2 class="mat-h2">which would cost $ Y</h2>
      </div>
    </mat-card-content>
    <div class="donate-button-container">
      <mat-card-actions>
        <a mat-raised-button href="https://cause2give.unxvision.com/EDMWeb/DonationForm.aspx?FormID=5&LanguageID=1">Donate</a>
      </mat-card-actions>
    </div>
  </mat-card>
</div>


