<div class="emissions-container">
  <mat-card>
    <mat-card-title>Total Carbon Emissions</mat-card-title>
    <mat-card-content><p class="largeText">{{totalFootprint}}</p> tonnes CO2</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Transportation Emissions</mat-card-title>
    <mat-card-content ><p class="largeText">{{commuteFootprint}}</p> tonnes CO2</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Fortis BC Emissions</mat-card-title>
    <mat-card-content><p class="largeText">{{fortisFootprint}}</p> tonnes CO2</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>BC Hydro Emissions</mat-card-title>
    <mat-card-content><p class="largeText">{{hydroFootprint}}</p>  tonnes CO2</mat-card-content>
  </mat-card>
</div>

<div class="outer-graph-container">
  <div class="inner-graph-container">
    <mat-card class="container-card">
      <mat-card-title class="title-card">Carbon Footprint Graphs</mat-card-title>
      <mat-card-content class="content-card">
        <mat-tab-group>
          <mat-tab label="Total">
            <div class="chart-wrapper">
              <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
          </div>
            <div class="chart-wrapper">
                <canvas class="graph" baseChart
                  [datasets]="totalChartData"
                  [labels]="totalChartLabels"
                  [options]="totalChartOptions"
                  [plugins]="totalChartPlugins"
                  [legend]="totalChartLegend"
                  [chartType]="totalChartType"
                  [colors]=totalChartColors>
                </canvas>
            </div>
          </mat-tab>
          <mat-tab label="Fortis">
            <div class="chart-wrapper">
              <canvas class="graph" baseChart class
                [datasets]="fortisChartData"
                [labels]="fortisChartLabels"s
                [options]="fortisChartOptions"
                [plugins]="fortisChartPlugins"
                [legend]="fortisChartLegend"
                [chartType]="fortisChartType"
                [colors]=fortisChartColors>
              </canvas>
            </div>
            <div class="chart-wrapper">
              <canvas class="graph" baseChart 
                [datasets]="compfortisChartData"
                [labels]="compfortisChartLabels"
                [options]="compfortisChartOptions"
                [plugins]="compfortisChartPlugins"
                [legend]="compfortisChartLegend"
                [chartType]="compfortisChartType"
                [colors]=compfortisChartColors>
              </canvas>
            </div>
          </mat-tab>
          <mat-tab label="Hydro">
            <div class="chart-wrapper">
              <canvas class="graph" baseChart 
                [datasets]="hydroChartData"
                [labels]="hydroChartLabels"
                [options]="hydroChartOptions"
                [plugins]="hydroChartPlugins"
                [legend]="hydroChartLegend"
                [chartType]="hydroChartType"
                [colors]=hydroChartColors>
              </canvas>
            </div>
            <div class="chart-wrapper">
              <canvas class="graph" baseChart 
                [datasets]="comphydroChartData"
                [labels]="comphydroChartLabels"
                [options]="comphydroChartOptions"
                [plugins]="comphydroChartPlugins"
                [legend]="comphydroChartLegend"
                [chartType]="comphydroChartType"
                [colors]=comphydroChartColors>
              </canvas>
            </div>
          </mat-tab>
          <mat-tab label="Transportation">
            <div class="chart-wrapper">
              <canvas class="graph" baseChart 
                [datasets]="vehicleChartData"
                [labels]="vehicleChartLabels"
                [options]="vehicleChartOptions"
                [plugins]="vehicleChartPlugins"
                [legend]="vehicleChartLegend"
                [chartType]="vehicleChartType"
                [colors]=vehicleChartColors>
              </canvas>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="offset-carbon-container">
  <mat-card class="container-card">
    <mat-card-content>
      <div class="offset-text">
        <h2 class="mat-h2">For you to offset your carbon:</h2>
        <h2 class="mat-h2"><a class="largeText">{{totalTrees}}</a> trees would need to be planted</h2>
        <h2 class="mat-h2">which would cost <a class="largeText">${{dollars}}</a></h2>
      </div>
    </mat-card-content>
    <div class="donate-button-container">
      <mat-card-actions>
        <a mat-raised-button href="https://cause2give.unxvision.com/EDMWeb/DonationForm.aspx?FormID=5&LanguageID=1">Donate</a>
      </mat-card-actions>
    </div>
  </mat-card>
</div>


