.chart-wrapper1,.chart-wrapper2,.chart-wrapper3,.chart-wrapper4{
    height: 500px;
    width: 500px;
}

.offset-text{
    text-align: center;
}

.donate-button-container{
    display: flex;
    justify-content: center;
}