.graph-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
    
    //.graph{
    //    height: 100%;
    //    width: 100%;
    //}
}

.emissions-container {
    text-align: center;
    line-height: 3em;
}

.largeText {
    font-size: 40px;
    text-emphasis: bold;
}

.chart-wrapper1,.chart-wrapper2,.chart-wrapper3,.chart-wrapper4{
    // height: 500px;
    // width: 500px;
    // margin:2em;
    // .canvas{
    //     height: 100%;
    //     width: 100%;
    // }
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid grey;
}

.offset-carbon-container {
    margin-top: 2em;
}

.offset-text{
    text-align: center;
}

.donate-button-container{
    display: flex;
    justify-content: center;
}

.mat-button, .mat-raised-button{
    background-color:green;
    color: white;
    font-weight: bold;
    font-size: large;
} 
