<div class="chart-wrapper1">
    <canvas baseChart 
    [datasets]="totalChartData"
    [labels]="totalChartLabels"
    [options]="totalChartOptions"
    [plugins]="totalChartPlugins"
    [legend]="totalChartLegend"
    [chartType]="totalChartType">
  </canvas>

</div>
<div class="chart-wrapper2">
  <canvas baseChart 
  [datasets]="fortisChartData"
  [labels]="fortisChartLabels"
  [options]="fortisChartOptions"
  [plugins]="fortisChartPlugins"
  [legend]="fortisChartLegend"
  [chartType]="fortisChartType">
</canvas>
</div>
<div class="chart-wrapper3">
  <canvas baseChart 
  [datasets]="hydroChartData"
  [labels]="hydroChartLabels"
  [options]="hydroChartOptions"
  [plugins]="hydroChartPlugins"
  [legend]="hydroChartLegend"
  [chartType]="hydroChartType">
</canvas>
</div>
<div class="chart-wrapper4">
  <canvas baseChart 
  [datasets]="vehicleChartData"
  [labels]="vehicleChartLabels"
  [options]="vehicleChartOptions"
  [plugins]="vehicleChartPlugins"
  [legend]="vehicleChartLegend"
  [chartType]="vehicleChartType">
</canvas>
</div>
