<form [formGroup]="commuteForm" class="commute-form">
  <!-- Highway Percent Slider -->
  <div class="slider-control-container">
    <mat-label>Percent driven in highway conditions</mat-label>
    <mat-slider formControlName="highwayPercent" [max]="100" [min]="0" [thumbLabel]="true"></mat-slider>
  </div>

  <!-- Distance input -->
  <!-- TODO: Consider if we should automatically double the frequency because to + from. -->
  <!-- TODO: If so, we should explain that with a note somehow -->
  <div class="distance-input">
    <mat-form-field appearance="standard" hintLabel="Max 250km">
      <mat-label>Distance in Km</mat-label>
      <input matInput type="number" min="{{minDistance}}" max="{{maxDistance}}" formControlName="distance" name="distance" required>
    </mat-form-field>
    <!-- Link to google maps to calculate the commute distance -->
    <!-- TODO: The button was making styling difficult. Button is low priority so it was purged. Add it back if we get a chance  -->
    <!-- <a mat-raised-button color="primary" href="https://maps.google.com" target="_blank">
      <div class="button-text-container">
        Calculate Commute Distance
      </div>
    </a> -->
  </div>

  <!-- Vehicle transmission input -->
  <!-- <mat-form-field appearance="standard" *ngIf="transmissions && (transmissions | async)?.length > 1"> -->
    <mat-form-field appearance="standard" *ngIf="transmissions && transmissions.length > 1">
      <mat-label>Select Transmission</mat-label>
      <mat-select aria-required formControlName="transmission" name="transmission">
        <!-- <mat-option *ngFor="let transmission of transmissions | async" [value]="transmission"> -->
        <mat-option *ngFor="let transmission of transmissions" [value]="transmission">
          {{transmission}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  <!-- Vehicle year input -->
  <mat-form-field appearance="standard">
    <mat-label>Select Year</mat-label>
    <mat-select aria-required formControlName="year" name="year" required>
      <mat-option *ngFor="let yearTransmission of yearTransmissions | async" [value]="yearTransmission">
      <!-- <mat-option *ngFor="let yearTransmission of yearTransmissions" [value]="yearTransmission"> -->
        {{yearTransmission.yr}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Vehicle make / model input -->
  <!-- TODO: Give an option to estimate fuel economy instead of entering a vehicle make / model -->
  <!-- TODO: Auto complete make / model - force the value to match something from our data -->
  <mat-form-field appearance="standard">
    <mat-label>Vehicle Make / Model</mat-label>
    <input 
      matInput 
      required
      formControlName="vehicle" 
      name="vehicle"
      aria-label="Vehicle"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayVehicle">
      <mat-option *ngFor="let vehicle of filteredVehicles | async" [value]="vehicle">
        {{vehicle.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<div id="add-commute-button-container">
  <button id="add-commute-button" mat-raised-button color="primary" [disabled]="!commuteForm.valid" (click)="addCommute()">Add Commute</button>
</div>
<div class="table-outter-container">
  <div class="table-inner-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" *ngIf="dataSource.data.length > 0">
      <!--- Note that these columns are not rendered until they are set as a property on the row definition. -->
      
        <!-- Vehicle Column -->
        <ng-container matColumnDef="vehicle">
          <th mat-header-cell *matHeaderCellDef> Vehicle </th>
          <td mat-cell *matCellDef="let element"> {{element.tableFormat.vehicle}} </td>
        </ng-container>
      
        <!-- Distance in Km Column -->
        <ng-container matColumnDef="distance">
          <th mat-header-cell *matHeaderCellDef> Distance in Km </th>
          <td mat-cell *matCellDef="let element"> {{element.tableFormat.distance}} </td>
        </ng-container>

        <!-- Highway Percent Column -->
        <ng-container matColumnDef="highwayPercent">
          <th mat-header-cell *matHeaderCellDef> % Highway </th>
          <td mat-cell *matCellDef="let element"> {{element.tableFormat.highwayPercent}} </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element; let i=index">
            <button mat-icon-button aria-label="Delete commute button" (click)="deleteCommute(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- The actual rendered content -->
      
        <!-- Header row for column names -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
