.commute-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .distance-input {
        display: flex;
        flex-direction: column;
    }
}

.commute-table{
    margin-top: 1em;
    width: 100%;
}
