<p>transportation works!</p>
<!-- TODO: Use angular material form -->
<div class="commute-info">
    <p>TODO: Drop down menu for selecting vehicle type</p>
    <div class="commute-distance">
        <p>TODO: Input for commute distance in km</p>
        <a mat-raised-button color="primary" href="https://maps.google.com">Calculate Commute Distance</a>
    </div>
    <p>TODO: Input for trips / month of given commute</p>
</div>
<button mat-raised-button color="primary">Add Commute</button>
<!-- TODO: Use angular material tables -->
<div class="commute-table">
    <div class="table-headers">
        <p>Vehicle Year / Make / Model</p>
        <p>Distance in Km</p>
        <p>Frequency / Month</p>
    </div>
    <div>TODO: List of added commutes (ability to remove commutes)</div>
</div>
