<p>transportation works!</p>
<form [formGroup]="commuteForm" class="commute-form">
  <!-- Vehicle make / model input -->
  <!-- TODO: Give an option to estimate fuel economy instead of entering a vehicle make / model -->
  <!-- TODO: Auto complete make / model - force the value to match something from our data -->
  <mat-form-field appearance="standard">
    <mat-label>Vehicle Make / Model</mat-label>
    <input matInput formControlName="vehicle" name="vehicle" autocomplete="vehicle" required>
  </mat-form-field>

  <!-- Vehicle year input -->
  <mat-form-field appearance="standard">
    <mat-label>Select Year</mat-label>
    <mat-select aria-required formControlName="year" name="year" required>
      <mat-option *ngFor="let year of years" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Frequency of trips / month input -->
  <mat-form-field appearance="standard">
    <mat-label>Trips per month</mat-label>
    <input matInput type="number" min="1" max="60" formControlName="frequency" name="frequency" required>
  </mat-form-field>

  <!-- Distance input -->
  <!-- TODO: Consider if we should automatically double the frequency because to + from. -->
  <!-- TODO: If so, we should explain that with a note somehow -->
  <div class="distance-input">
    <mat-form-field appearance="standard">
      <mat-label>Distance in Km</mat-label>
      <input matInput type="number" min="0" max="250" formControlName="distance" name="distance" required>
    </mat-form-field>
    <!-- Link to google maps to calculate the commute distance -->
    <a mat-raised-button color="primary" href="https://maps.google.com" target="_blank">Calculate Commute Distance</a>
  </div>
</form>
<button mat-raised-button color="primary" [disabled]="!commuteForm.valid" (click)="addCommute()">Add Commute</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 commute-table" *ngIf="dataSource.data.length > 0">
  <!--- Note that these columns are not rendered until they are set as a property on the row definition. -->
  
    <!-- Vehicle Column -->
    <ng-container matColumnDef="vehicle">
      <th mat-header-cell *matHeaderCellDef> Vehicle </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicle}} </td>
    </ng-container>
  
    <!-- Distance in Km Column -->
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef> Distance in Km </th>
      <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
    </ng-container>
  
    <!-- Frequency / Month Column -->
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef> Frequency / Month </th>
      <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
    </ng-container>

    <!-- The actual rendered content -->
  
    <!-- Header row for column names -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Data rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
